.columns{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
}

.column{
    width: 22%;
    margin: auto;
    margin-top: 0;
    background-color: #0F0F0F;
    border-radius: 4px;
    padding: 8px;
    min-height: 1000px;
}

.card{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #1D1D1D;
    border: 2px solid #A554D8;
    margin-top: 10px;
    border-radius: 5px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.done{
    background-color: #9af58e;
}
.nodone{
    background-color: #f78888;
}
.reason{
    margin: 5px;
}

button{
    margin: 10px;
    width: 90%;
}
input{
    margin: 10px;
    width: 80%;
    outline: none;
    background-color: #A554D8;
    color: white;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    background-color: #1D1D1D;
    border: 2px solid #A554D8;
    margin: 2px;
    border-radius: 5px;
    color: white;
}

h3{
    color: white;
}

p{
    color: white;
}